<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.webServer>

    <directoryBrowse enabled="true" />

    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>

  </system.webServer>

  <system.web>
    
    <customErrors mode="Off">
      <error statusCode="404" redirect="common/404.html"/>
    </customErrors>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" siteMapFile="~/Web.sitemap" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </siteMap>
    <sessionState mode="InProc" timeout="30"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="40960" useFullyQualifiedRedirectUrl="true"/>
    <pages validateRequest="false" clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="DbCon" connectionString="Data Source=112.74.184.234;user id=sa;password=shy;Initial Catalog=HetoWeb;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>